.flex-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.five-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 1000px;
  margin: auto;
  gap: 1rem;
}