// colors

$color-white: #fff;
$color-cloud: #CACACA;
$prof-blue: #3b49df;
$light-green: #90EE90;
$color-night: #111;

// Box Shadow
$light-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
$default-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
