@import "../../_sass//components";
@import "../../_sass/layout";
@import "../../_sass/utility";

.header-bar {
  height: 5rem;
  width: 100%;
  @media (max-width: 1023px) {
    display: block;
  }
}
.snowflake-link {
  @media (max-width: 1023px) {
    width: 5rem;
    height: 5rem;
    color: #EEE;
    &:hover,
    &:active {
      color: #FFF;
    }
  }
}