@import "../../_sass//components";
@import "../../_sass/layout";
@import "../../_sass/utility";

.header-bar {
  height: 4rem;
  width: 100%;
  @media (max-width: 1023px) {
    display: block;
  }
}
.snowflake-link {
  @media (max-width: 1023px) {
    width: 3rem;
  }
}